{% extends 'BASE.html' %}

{% block content %}

<div>
    <div style="text-align :center;">

            {% if target_user.profile %}
            <img src="{{ target_user.profile.image.url }}" alt=""
            style="height:7rem; width : 7rem; border-radius:10rem;">
                <h2>{{ target_user.profile.nickname }}</h2>
                <p>{{ target_user.profile.message}}</p>
                {% if target_user == user %}
                    <h4>
                        <a href="{% url 'articleapp:create'%}" class="btn btn-dark
                            col-3 mt-3">게시물 작성</a>
                    </h4>
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                        프로필 변경</a>
                    {% endif %}
            {% else %}
                <a href="{% url 'profileapp:create' %}">
                    <h1>프로필 만들기</h1>
                </a>
            {% endif %}
            <div style="margin :0.5rem; letter-spacing : 1pt;">
                {% if target_user == user %}

                <a href="{% url 'accountapp:update' pk=target_user.pk %}"
                   style="margin-right:1rem;"> 회원변경</a>
                <a href="{% url 'accountapp:delete' pk=target_user.pk %}">탈퇴</a>
                {% endif %}
            </div>
    </div>
            <div>

              {% include 'snippets/account_list_fragment.html' with article_list=object_list %}


            </div>


</div>

{% endblock %}