<div style="border:1px solid; text-align:left;
margin :1rem; border-radius :0.3rem; padding:0.4rem;">
    <div>
        <strong>
            {{ comment.writer.profile.nickname }}
        </strong>
        &nbsp&nbsp&nbsp
            {{ comment.created_at }}
    </div>
    <div>
        {{ comment.content }}
    </div>
    {% if comment.writer == user %}
    <div style="text-align:right">
        <a href="{% url 'commentapp:delete' pk=comment.pk %}">
            Delete
        </a>
    </div>
    {% endif %}
</div>