{% extends 'BASE.html' %}
{% load static %}

{% block content %}
<style>

.container div {
  background-color: #909497;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  margin:1.5rem;
}

.container img {
  width:7rem;
  height:7rem;
  object-fit:cover;
  border-radius: 1.5rem;
}
</style>
<div>
    <hr>
    <div class="container">
            {% for project in project_list %}

            <a href="{% url 'projectapp:detail' pk=project.pk %}">
                <div style="display:block; text-align:center;">
                    <img src="{{ project.image.url }}" alt="">
                <h5>{{ project.title | truncatechars:8}}</h5>
                </div>

            </a>
            {% endfor %}
    </div>

    <script src="{% static 'js/magicgrid.js' %}"> </script>

        <div style="text-align:center;">
            <a href="{% url 'projectapp:create'%}" class="btn btn-dark
            col-2 mt-3">프로젝트 작성</a>

        </div>


    {% include 'snippets/pagination.html' with page_obj=page_obj %}
</div>




{% endblock %}
