.header_logo {
  font-family: 'Zen Tokyo Zoo', cursive; text-align:center; margin-top:2rem;

}

.center { max-width:50%; margin :4rem auto; text-align:center;

}

.title_logo{
  font-family :  'Zen Tokyo Zoo', cursive;
}


a { color:white !important ;
text-decoration:none !important ;
}


a:hover { text-decoration:none !important; }

ul { list-style:none ;
padding:1rem ;
}

li {font-size : 4px;
}

@media(max-width:700px){
    input { display:none;}
    form { display:none;}
}







