
<div>
    <div class="header_logo">
    <a href="/basics/hello" style="font-size:1.8rem;">SUNYEOP BOY</a>
    </div>
    <div>
        <div style="text-align:center;">
            {% if not user.is_authenticated %}
            <ul><li><a href="{% url 'accountapp:create' %}" style="margin:0.5rem;">
                SIGN UP</a>
            {% endif %}

            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{request.path}}" style="margin:0.5rem;">
                LOGIN</a>
            {% else %}
            <a href="{% url 'accountapp:logout' %}?next={{request.path}}" style="margin:0.5rem;">
                LOGOUT</a>
            {% endif %}

            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{request.path}}" style="margin:0.5rem;">MyPAGE
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">MyPAGE
            </a>
            {% endif %}
            <span style="margin:0.5rem;">BEST ARTICLES</span>
            <span style="margin:0.5rem;">ORDER
            </span>
            <!--
            <input type="radio" value="black" onclick="
            document.querySelector('body').style.background = 'black';
            document.querySelector('body').style.color='white';
            document.querySelector().style.color='white';">
            </li></ul>
            -->

        </div>
            <form action="/basics/hello/" method="get" style="text-align:right; margin-bottom:1rem;margin-right:1rem;">
             {% csrf_token %}
            <input type="text" name="input">
            <input type="submit" class="btn btn-dark " value="조회">
            </form>
    </div>
</div>