
<div style="text-align:center;">
    <div class="header_logo">
    <a href="/basics/hello" style="font-size:1.8rem; margin: 2rem; ">SUNYEOP BOY</a>
    </div>
    <div style="font-size : 1rem; margin : 2rem ;" >
        <strong>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:create' %}" style="margin:0.5rem;">
                SIGN UP</a>
            {% endif %}

            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{request.path}}" style="margin:0.5rem;">
                LOGIN</a>
            {% else %}
            <a href="{% url 'accountapp:logout' %}?next={{request.path}}" style="margin:0.5rem;">
                LOGOUT</a>
            {% endif %}

            <span style="margin:0.5rem;">BEST ARTICLES</span>

            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{request.path}}" style="margin:0.5rem;">MyPAGE</a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">MyPAGE</a>
            {% endif %}
            <span style="margin:0.5rem;">ORDER</span>

            <form action="/basics/hello/" method="get" style="text-align:right;">
             {% csrf_token %}
            <input type="text" name="input">
            <input type="submit" class="btn btn-dark " value="조회">
            </form>
        </strong>
    </div>
</div>