
<div>
    <div class="header_logo">
    <a href="/" style="font-size:1.8rem;">SUNYEOP BOY</a>
    </div>
    <div style="text-align:center; font-size :0.3rem; word-spacing :0.5rem;">
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:create' %}">
                SIGN_UP</a>
            {% endif %}

            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{request.path}}">
                LOGIN</a>
            {% else %}
            <a href="{% url 'accountapp:logout' %}?next={{request.path}}">
                LOGOUT</a>
            {% endif %}

            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{request.path}}">MyPAGE
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">MyPAGE</a>
            <a href="{% url 'subscribeapp:list'%}">SUBSCRIBE</a>
            {% endif %}
            <a href="{% url 'projectapp:list'%}">PROJECTS</a>
            <a href="{% url 'articleapp:list' %}">ALL_ARTICLES</a>


        </div>
            <form action="/" method="get" style="text-align:right; margin-bottom:1rem;margin-right:1rem;">
                 {% csrf_token %}
                <input type="text" name="input">
                <input type="submit" class="btn btn-dark " value="조회">
            </form>

            <!--
            <input type="button" value="black_mode" onclick="
            var target = document.querySelector('body');
            var anchor =document.querySelectorAll('a');
            var i = 0;

            while(i < anchor.length){
                anchor[i].style.color = 'white';

                i=i+1;
                }

            target.style.color='white';
            target.style.backgroundColor='black';">
            !-->

    </div>
</div>