{% extends 'BASE.html' %}

{% block content %}

<div class="center">
    <div>
             <h1> {{ target_article.title }}</h1>
         <h4 style="font-family: 'Zen Tokyo Zoo', cursive;">photo by
             <span style="font-size:70%; ">
                 {{target_article.writer.profile.nickname}}
             </span>
         </h4>

        <img src="{{ target_article.image.url }}" alt=""
        style="width: 500px;  justify-content: center; align-items: center;
        border-radius: 1.5rem; margin:1rem;">

        <div style="text-align:left;">
            {{ target_article.content | safe }}
        </div>
        {% if target_article.writer == user %}
        <a href="{% url 'articleapp:update' pk=target_article.pk %}"
           class="btn btn-dark mt-3 col-3">
            게시물 수정
        </a>
        <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
        class="btn btn-dark mt-3 col-3">
            게시물 삭제
        </a>
        {% endif %}

    </div>
    <div>
    {% for comment in target_article.comment.all %}
        {% include 'commentapp/detail.html' with comment=comment %}
    {% endfor %}



    {% include 'commentapp/create.html' with article=target_article %}
    </div>
</div>

{% endblock %}
